.a{
    background-color: #EFB8B9;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 5vw;
    padding: 2vw;
}

.filtros{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

.doce {
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #582B2B;
    border-radius: 50%;
    overflow: hidden;
}


.hidden {
  display: none !important;
}

.doce:hover, .btn-filter:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.doce img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #582B2B;
    color: #fff;
    border-radius: 2.5vw;
    font-size: 3vw;
    padding: 1.5vw 5vw;
    font-family: 'Yeseva One', cursive;
}

.container-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2vw;
    padding: 8vw 2vw;
    justify-items: center;
}

.produto {
    border-radius: 1.2vw;
    background-color: #fff;
    border: #5e2b24 0.4vw solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 1vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.produto:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.titulo-produto {
    color: #5e2b24;
    margin: 0.5vw 0;
}

.nome-produto {
    font-size: 1.3vw;
    font-weight: bold;
    margin-bottom: 0.2vw;
    font-family: 'Yeseva One', cursive;
}

.descricao-produto {
    font-size: 0.8vw;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;
}

.preço-produto {
    color: #5e2b24;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
}

.b{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.img-produto {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    border-radius: 0.6vw;
}


.img-botao {
    width: 2.5vw;
    border-radius: 50%;
}

.preço {
    font-size: 1.3vw;
    font-weight: 600;
    font-family: 'Yeseva One', cursive;
}

.unidade {
    font-size: 0.7vw;
    font-family: 'Yeseva One', cursive;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 3.75vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 1.25vw;
    border-radius: 0.75vw;
    width: 90%;
    max-width: 31.25vw;
    position: relative;
    text-align: left;
    border: #3D2929 0.4vw solid;
}

.close-btn.fechar {
    width: 1.5vw;
    height: 1.5vw;
    padding-bottom: 1vw;
    position: absolute;
    top: 0.9vw;
    left: 0.7vw;
    color: #3D2929;
    cursor: pointer;
}

.modal-content #modal-img {
    margin-top: 1.8vw;
    margin-bottom: 1.25vw; 
    width: 100%;
    height: 20vw;
    object-fit: cover;
    border-radius: 0.6vw;
}

.modal-info {
    padding: 0 0.625vw; 
}

.modal-info h2{
    font-size: 1.7vw;
    color: #3D2929;
}

.modal-info h2,
.modal-info p {
    margin: 0.5vw 0; 
    font-family: 'Yeseva One', cursive;
}

.preco-modal {
    font-weight: bold;
    color: #FF9092;
    font-size: 1.125vw;
}

.adicionar-carrinho {
    display: flex;
    align-items: center;
    background-color: #7E5454;
    color: white;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 500;
    gap: 0.4vw;
    font-family: 'Yeseva One', cursive;
    padding-right: 0.7vw;
}


.adicionar-carrinho img{
    width: 5vw;
    padding: 0.4vw;
    padding-left: 0.6vw;
}

.adicionar-carrinho .carrinho {
    width: 2vw;
    height: 2vw;
}

.toast {
    visibility: hidden;
    min-width: 15.625vw;
    background-color: #a52a2a;
    color: #fff;
    text-align: center;
    border-radius: 1vw;
    padding: 1.5vw;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 1.875vw;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 1.2vw;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 3.125vw;
}

.dropdown-filter {
    display: none;
}

@media (max-width: 768px) {
    .modal{
        display: flex;
        align-content: center;
    }
    .modal-content {
        width: 80%;
        max-width: 90%;
        padding: 4vw;
        border-radius: 2vw;
        border-width: 1vw;
    }

    .close-btn.fechar {
        width: 4vw;
        height: 4vw;
        top: 2vw;
        left: 2vw;
    }

    .modal-content #modal-img {
        height: 40vw;
        margin-top: 4vw;
        margin-bottom: 1vw;
        border-radius: 2vw;
    }

    .modal-info {
        padding: 0 2vw;
    }

    .modal-info h2, .modal-info p {
        margin: 1vw;
        font-family: 'Yeseva One', cursive;
    }

    .modal-info h2 {
        font-size: 4.5vw;
    }

    .modal-info p {
        font-size: 3vw;
    }

    .adicionar-carrinho {
        font-size: 3.5vw;
        border-radius: 1.5vw;
        padding: 2vw;
        gap: 1vw;
    }

    .adicionar-carrinho .carrinho {
        width: 6vw;
        height: 6vw;
    }
}


/* MOBILE */
@media (max-width: 600px) {
    .a {
        flex-direction: column;
        align-items: flex-start;
        gap: 4vw;
    }

    .filtro-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4vw;
        font-size: 1vw;
    }

    .btn-filter {
        font-size: 5vw;
        padding: 3vw 6vw;
        border-radius: 4vw;
    }

    .dropdown-filter {
        display: block;
        width: 90%;
        font-size: 4.5vw;
        padding: 2vw;
        border-radius: 3vw;
        border: none;
        border: #422121 0.6vw solid; 
        background: #FFDDC6;
        font-family: 'Yeseva One', cursive;
    }

    .filtros {
        display: none;
    }

    .doce {
        width: 15vw;
        height: 15vw;
    }

    .container-produtos {
        grid-template-columns: 1fr;
        padding: 10vw 5vw;
    }

    .produto {
        width: 80vw;
        padding: 4vw;
    }

    .produto:hover{
        transform: none;
    }

    .img-produto {
        height: 30vw;
    }

    .nome-produto {
        font-size: 4.5vw;
    }

    .descricao-produto {
        font-size: 3vw;
    }

    .preço {
        font-size: 4vw;
    }

    .unidade {
        font-size: 3vw;
    }

    .img-botao {
        width: 6vw;
    }

    .toast {
        font-size: 3vw;
        padding: 3vw;
        border-radius: 2vw;
    }
}
