@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap'); /* font-family: "Lexend Deca", sans-serif; */
@import url('https://www.dafont.com/pt/magic-retro.font'); /*  font-family: 'Magic Retro',sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body{
    padding: 0;
    margin: 0;
    background-image: url(../img/Fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
     background-size: cover; /* Altere de 100% para cover */
  background-position: center center; /* Centraliza a imagem */
  min-height: 100vh; /* Garante que ocupe no mínimo a altura total da tela */
}

.navBar{
    display: flex;  
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    gap: 7vw;
    height: 6vw;
    padding: 0.7vw;
    background-color: #FFE1CF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: "Lexend Deca", sans-serif;
}

.navBar ul li a
{
    text-decoration: none;
    color: #FFF;
}

.ul{
    display: flex;
    gap: 5vw; 
}

.linha{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 10vw;
    border-radius: 8vw;
    background-color: #7E5454;
    text-align: center;
    padding: 1vw;
    font-size: 1.4vw;
}

.linha:hover{
    background-color: #472f2f;
    transition: 0.5s;
    cursor: pointer;
}

.logo{
    width: 6.3vw;
}

.icon{
    width: 3vw;
    height: 3vw;
    background-color: #7E5454;
    padding: 0.5vw;
    border-radius: 2vw;
    align-self: center;
}

.icon:hover{
    background-color: #472f2f;
    transition: 0.5s;
    cursor: pointer;
}

.textInicial{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 5vw;
    margin-top: 5vw;
}

.title{
    font-family: 'Yeseva One', cursive;
    font-weight: 500;
    font-size: 8.5vw;
    color: #3D2929;
}

.imgIni{
    width:48vw;
    height: 48vw;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #3D2929;
    background-image: url('../img/ImagemFooter.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    padding-bottom: 8vw;
    padding-top: 3vw;
}

.footer a {
    color: #582B2B;
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
}

.footer a:hover {
    text-decoration: underline;
}

.logo-footer img{
    width: 25vw;
}

.logo-footer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes-sociais img{
    width: 2vw;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    gap: 1vw;
    color: #FFE1CF;
    font-size: 1.7vw;
    text-decoration: none;
}

.redes-sociais ul,
.paginas ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    padding: 0;
    margin: 0;
    list-style: none;
}

.redes-sociais li,
.paginas li {
    margin: 0.5vw 0;
}

.paginas a{
    font-size: 1.6vw;
    color: #FFF;
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yeseva One', cursive;
}

.perfil-modal {
    max-width: 24vw;
    margin: auto;
    padding: 3vw;
    background: white;
    border-radius: 1.5vw;
    text-align: center;
    position: relative;
}

.foto-perfil {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: 0.5vw solid #f4c6c6;
    object-fit: cover;
}

.fechar-perfil {
    width: 1.5vw;
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    cursor: pointer;
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    margin: 1vw auto;
    padding: 0.5vw 0;
    background: #582B2B;
    color: #fff;
    border-radius: 1.5vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8vw;
    padding-right: 0.3vw;
}

.btn-login:hover {
    background: #422020;
}

.modal-content-perfil p {
    margin-top: 2vw;
    font-size: 1vw;
}


.hamburger {
  display: none;
  font-size: 10vw;
  background: none;
  border: none;
  cursor: pointer;
  color: #3D2929;
  z-index: 1001;
}

.icon-mobile {
  display: none;
}

.icon-desktop {
  display: inline-block;
}

/* TABLET */
@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20vw;
    background-image: none; 
    background-size: cover;
  }

  .logo-footer {
    width: 50%;
    margin-bottom: 5vw;
  }

  .logo-footer img {
    width: 40vw;
  }

  .redes-sociais {
    flex-direction: column;
    gap: 3vw;
    margin-bottom: 4vw;
  }

  .redes-sociais a {
    font-size: 3vw;
    gap: 2vw;
  }

  .redes-sociais img {
    width: 4vw;
  }

  .paginas a {
    font-size: 3vw;
  }

  .footer a {
    font-size: 2.5vw;
  }
}

@media (max-width: 768px) {
 .navBar {
    display: flex;
    align-items: center;
    padding-top: 10vw;
    padding-bottom: 10vw;
    position: relative;
    background-color: #3D2929;
  }

  .hamburger {
    display: flex;
    font-size: 10vw;
    background: none;
    border: none;
    cursor: pointer;
    color: #FFE1CF;
    z-index: 1001;
    margin-left: auto;
  }

  .logo {
    padding-top: -25vw;
    width: 20vw;
  }

  .ul {
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    position: absolute;
    top: 18vw;
    left: 0;
    width: 100%;
    background-color: #3D2929;
    padding: 4vw 0;
    display: none;
  }

  .ul.active {
    display: flex;
  }

  .linha {
    font-size: 5vw;
    padding: 3vw 5vw;
    width: auto;
    border-radius: 3vw;
  }

  .icon {
    display: flex;
  }

  .icon-desktop {
    display: none;
  }

  .icon-mobile {
    display: inline-block;
  }

  .icon-mobile img{
    width: 6vw;
    height: 6vw;
  }
  
  .textInicial {
    align-items: center;
    text-align: center;
    margin: 8vw 5vw;
  }

  .title {
    font-size: 6.5vw;
    max-width: 90%;
  }

  .imgIni {
    width: 70vw;
    margin-bottom: 5vw;
  }

   .footer {
    padding: 8vw 5vw;
    background-image: none; 
  }

  .logo-footer {
    width: 70%;
    margin-bottom: 6vw;
  }

  .logo-footer img {
    width: 60vw;
  }

  .redes-sociais a {
    font-size: 4vw;
    gap: 3vw;
  }

  .redes-sociais img {
    width: 6vw;
  }

  .paginas a {
    font-size: 5vw;
  }

  .footer a {
    font-size: 4vw;
  }

   .perfil-modal {
    width: 80%;
    max-width: none;
    padding: 6vw 4vw;
    border-radius: 4vw;
  }

  .foto-perfil {
    width: 20vw;
    height: 20vw;
    border: 1vw solid #f4c6c6;
  }

  .fechar-perfil {
    width: 5vw;
    top: 3vw;
    right: 3vw;
  }

  .btn-login {
    font-size: 3vw;
    border-radius: 3vw;
    padding: 1vw;
    gap: 2vw;
  }

  .modal-content-perfil p {
    font-size: 3vw;
    margin-top: 4vw;
  }

}