@import url('https://www.dafont.com/pt/bright-2.font'); /*  font-family: 'Bright DEMO', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap'); /* font-family: "Lexend Deca", sans-serif; */
@import url('https://www.dafont.com/pt/magic-retro.font'); /*  font-family: 'Magic Retro',sans-serif; */


body{
    padding: 0;
    margin: 0;
    background-image: url(../img/Fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.navBar{
    display: flex;  
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
    height: 6vw;
    background-color: #FFE1CF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: "Lexend Deca", sans-serif;
}

.ul{
    display: flex;
    gap: 5vw; 
}

.ul a{
  text-decoration: none;
}

.linha{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 8vw;
    border-radius: 8vw;
    background-color: #7E5454;
    color: #FFF;
    text-align: center;
    padding: 0.5vw;
    font-size: 1.1vw;
}

.linha:hover{
    background-color: #472f2f;
    transition: 0.5s;
    cursor: pointer;
}

.logo{
     width:5vw;
     height: 5vw;    
}

.icon{
    width: 2vw;
    height: 2vw;
    background-color: #7E5454;
    padding: 0.5vw;
    border-radius: 2vw;
    align-self: center;
}

.icon:hover{
    background-color: #472f2f;
    transition: 0.5s;
    cursor: pointer;
}

.textInicial{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 5vw;
    margin-top: 5vw;
}

.title{
    font-family: 'Bright DEMO', sans-serif;
    font-weight: 500;
    font-size: 9vw;
    color: #3D2929;
}

.imgIni{
    width:48vw;
    height: 48vw;
}

.divisa{
    width: 100%;
    background-color: #FFD8C0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-top: 5vw;
}

.imgSub{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.2vw;
    color: #582B2B;
}

.icones{
   width: 12vw;
   padding: 3vw;
    background-color: #EFB8B9;
    border-radius: 10vw;
    align-self: center;
}

/* carrossel */

.container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding: 40px 0;
    margin-top: 5vw;
}


.card-wrapper {
      overflow-x: auto;
      scroll-behavior: smooth;
      width: 90vw;
      margin: auto;
}

.card-wrapper::-webkit-scrollbar {
    display: none;
}


.card-list {
    display: flex;
    gap: 2vw;
    padding: 0;
    margin: 0;
    transition: transform 0.5s ease-in-out;
}

#card-item {
    list-style: none;
    flex: 0 0 21vw; /* largura de cada card (3 cabem em 90vw com gap) */
    height: 25vw;
}

.card-item7{
    background-image: url(/img/image.png);
}

.card-item8{
    background-image: url(/img/image-1.png);

}

.card-item9{
    background-image: url(/img/image-2.png);

}

.card-item10{
    background-image: url(/img/image-3.png);
}

.card-item11{
    background-image: url(/img/image4.png);
}

.card-item12{
    background-image: url(/img/image-5.png);
}

.card-item13{
    background-image: url(/img/image-6.png);
}

.card-item14{
    background-image: url(/img/image-7.png);
}


.card-item7,
.card-item8,
.card-item9,
.card-item10,
.card-item11,
.card-item12,
.card-item13,
.card-item14
{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5vw;
}


.card-link {
    display: block;
      padding: 18px;
    border-radius: 8vw;
      text-decoration: none;
      color: inherit;
}

.card-link:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.card-image {
    width: 100%;
    object-fit: cover;
}

.badge {
    color: #FFF;
    font-size: 18px;
    text-align:center;
    display:block;
    margin-top: 18vw;
    font-size: 3vw;
    margin: auto;
    transition: 2s;
    font-family: 'Bright DEMO', sans-serif;
    font-weight: 300;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3D2929;
    color: #FFD8C0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    z-index: 10;
}

#prev { left: 5vw; }
#next { right: 5vw; }

/* Fim do carrossel */

.banner{
    width: 100%;
    display: flex;
    justify-content: center;
}

.queridinho{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #3D2929;
    width: 30vw;
    padding: 0.8vw;
    color: #FFF;
    font-family: 'Bright DEMO', sans-serif;
    font-size: 4vw;
    letter-spacing: 4px;
    font-weight: 500;
    border-radius: 0.5vw;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-top: 2vw;
}

.card, .card3{
    margin-top: 7vw;
}

.card, 
.card2, 
.card3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: #3D2929;
    width: 20vw;
    height: 30vw;
    border-radius: 2vw;
}

.card img{
    width: 20vw;
    margin-top: -2vw;
}

.card2 img{
    width: 20.7vw;
    margin-top: -1.8vw;
}

.card3 img{
    width: 20vw;
    margin-top: -2vw;
}


.imgText h5{
    font-size: 1.7vw;
    margin-top: -0.2vw;
    font-family: 'Bright DEMO', sans-serif;
    color: #FFF;
    letter-spacing: 4px;
    font-weight: 400;
}

.miniText{
    color: #FFF;
    width: 18vw;
    margin-top: -1.6vw;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
}

.compra{
    padding: 0.5vw;
    font-family: 'Bright DEMO', sans-serif;
    width: 12vw;
    border-radius: 5vw;
    border: none;
    font-size: 1.2vw;
    background-color: #FFC6C7;
    color: #582B2B;
}

.dupla{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5vw;
}

.caixinha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7E5454;
    border: 6px solid #482E2E;
    color: #FFF;
    border-radius: 15px;
    width: 11.5vw;
    height: 11.5vw;
    padding: 0.7vw;
    text-align: center;
}

.iconesForm {
    width: 5vw;
    margin-bottom: 0.8vw;
}

.caixinha h5 {
    font-size: 1.41vw;
    margin: 0.26vw 0;
}

.caixinha p {
    font-size: 0.94vw;
    margin: 0;
    word-break: break-word;
}


.colum{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    gap: 5vw;
    margin-top: 10vw;
}


.formulario {
    width: 52%;
}

.formulario h2 {
    font-size: 5.73vw;
    margin: 0 0 0.52vw 0;
    padding: 0;
}

.formulario legend {
    width: 75%;
    font-size: 1.30vw;                 
    margin-bottom: 1.04vw;             
    font-weight: bold;
    display: block;
}

.formulario form p {
    margin: 1.04vw 0 0.42vw;
    font-weight: bold;
}

.formulario input,
.formulario textarea {
    width: 75%;
    padding: 0.78vw;                  
    border-radius: 0.52vw;             
    border: 0.16vw solid #482E2E;     
    color: #7E5454;
    background-color: #FFDDC6;
    font-size: 1.04vw;                 
    margin-bottom: 1.04vw;             
}

.formulario p {
    font-size: 1.56vw;               
}

iframe {
    width: 30.8vw;
    height: 19vw;
    border-radius: 1.04vw;            
    border: 0.31vw solid #482E2E;      
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #3D2929;
    background-image: url('/img/ImagemFooter.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    padding-bottom: 8vw;
    padding-top: 3vw;
}

.logo-footer img{
    width: 25vw;
}

.logo-footer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes-sociais img{
    width: 2vw;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    gap: 1vw;
    color: #FFE1CF;
    font-size: 1.7vw;
    text-decoration: none;
}

.redes-sociais ul,
.paginas ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    padding: 0;
    margin: 0;
    list-style: none;
}

.redes-sociais li,
.paginas li {
    margin: 0.5vw 0;
}

.paginas a{
    font-size: 1.6vw;
    color: #FFF;
    text-decoration: none;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 6vw;
    padding-bottom: 10vw;
}

.card-redeSocial {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #3D2929;
    position: relative;
    width: 25vw;
    height: 29vw;
    border-radius: 0.9vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #FFF;
}

.card-redeSocial:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}

.card-redeSocial::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.icon-circle img {
    width: 12vw;
    height: 12vw;
}

.card-text {
    color: #FFE7E1;
    width: 100%;
    font-weight: bold;
    font-size: 2vw;
}

.card-text a {
    color: #FFE7E1;
}

.subtitle {
    color: #FFE7E1;
    font-size: 1.2vw;
    font-weight: normal;
}

.card-instagram {
  background-image: url('/img/Alfajores.png');
}

.card-whatsapp {
  background-image: url('/img/image-1.png');
}

.card-ifood {
  background-image: url('/img/image-6.png');
}

.card-redeSocial .icon-circle,
.card-redeSocial .card-text {
    position: relative;
    z-index: 1;
}
