section div
{
    display: flex;
    margin-left: 5vw;
}

h1, h2, h3
{
    color: #3D2929;
    font-weight: bold;
}

#sobre
{
    font-size: 25px;
}

#sobre img
{
    width: 30vw;
    height: 30vw;
}

h2
{
    font-size: 4vw;
}

#linhaDoTempo
{
    width: 100%;
    background-color: #FFD8C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linhaDoTempo picture img
{
    width: 100%;
    display: flex;
    align-self: center;
}


#linhaDoTempo section
{
    display: flex;
    justify-content: center;
    margin: 0vw 5vw;
    gap: 8vw;
}

#linhaDoTempo section article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}   

#video
{
    display: flex;
    flex-direction: column;
    justify-self: center;
}